.box {
  background-color: #3f4152;
  border-radius: 16px;
  margin: 20px 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}

.asteroidInfo {
  margin-left: 20px;
  align-items: start;
  text-align: left;
}

.asteroidInfo > p {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #ededed;
}

.asteroidInfo > span {
  margin: 0;
  font-size: 14px;
  color: #787878;
}

.hazardous > img {
  position: absolute;
  top: 25%;
  right: 30px;
  width: 40px;
}

.magnitude {
  display: flex;
  flex-direction: "row";
  align-items: center;
}

.stars {
  margin-left: 10px;
}

.stars > img {
  margin-top: 6px;
  width: 24px;
}
